<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%# <%= link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/" %>
    <form class="search-form" action="#">
    </form>
  </div>
  <div class="header-nav">
      <% if user_signed_in? %>
        <p class="nav">group ：<%= link_to current_user.group.name, "#", class: "user-groupname" %></p>
        <p class="nav">user　：<%= link_to current_user.nickname, "#", class: "user-nickname" %></p>
        <p class="nav">logout：<%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>
      <% else %>
        <p class="nav"><%= link_to "ログイン", new_user_session_path, class: "post" %></p>
        <p class="nav"><%= link_to "新規登録", new_user_registration_path, class: "post" %></p>
      <% end %>
  </div>
</header>