<% if user_signed_in? %>

  <div calss="registration">
  <div calss="registration-1">
    <a calss="registration-btn">
      <%= link_to "価格を登録する",new_price_path, class:'btn btn--orange' %>
    </a>
    <a calss="registration-btn">
      <%= link_to "カードを登録する",new_card_path, class:'btn btn--orange' %>
    </a>
  </div>
  <div calss="registration-2">
    <a calss="registration-btn">
      <%= link_to "店舗を登録する",new_shop_path, class:'btn btn--orange' %>
    </a>
    <a calss="registration-btn">
      <%= link_to "グループを登録する",new_group_path, class:'btn btn--orange' %>
    </a>
  </div>
  </a>
  <div class="table">
    <table cellpadding="20">
      <div class="table-header">
        <div class="table-header-1">
          <tr>
            <th colspan="3">カード情報</th>
            <th colspan="4">価格</th>
          </tr>
        </div>
        <div class="table-header-2">
          <tr>
            <th>カード名</th>
            <th>収録弾</th>
            <th>レア</th>
            <%# <th>カードタイプ</th> %>
            <%# <th>属性</th> %>
            <% @shops.each do |shop| %>
              <th><%= shop.name %></th>
            <% end %>
          </tr>
        </div>
      </div>
      <div class="table-data">
        <% cardid = 1 %>
        <% @cards.each do |card| %>
          <tr>
            <th><%= card.name %></th>
            <th><%= card.expansion[:name] %></th>
            <th><%= card.rarity[:name] %></th>
            <%# <th><%= card.card_type[:name] %></th>
            <%# <th><%= card.attribute[:name] %></th>
            <% shopid = 1 %>
            <% @shops.each do |shop| %>
              <% if @prices.find_by(card_id: cardid,shop_id: shopid) %>
                <th><%= link_to @prices.find_by(card_id: cardid,shop_id: shopid).price, edit_price_path(@prices.find_by(card_id: cardid,shop_id: shopid).id), method: :get %></th>
              <% else %>
                <th></th>
              <% end %>
              <% shopid += 1 %>
            <% end %>
          </tr>
          <% cardid += 1 %>
        <% end %>
      </div>
    </table>
  </div>
<% else %>

<% end %>
