<div class="table">
 <table border="2" cellpadding="20">
    <div class="table-header">
      <div class="table-header-1">
        <tr>
          <th colspan="5">カード情報</th>
          <th colspan="4">価格</th>
        </tr>
      </div>
      <div class="table-header-2">
        <tr>
          <th>カード名</th>
          <th>収録弾</th>
          <th>レアリティ</th>
          <th>カードタイプ</th>
          <th>属性</th>
          <th>店舗１</th>
          <th>店舗２</th>
          <th>店舗３</th>
          <th>店舗４</th>
        </tr>
      </div>
    </div>

    <div class="table-data">
      <tr>
        <th>ピカチュウVMAX</th>
        <th>仰天のボルテッカー</th>
        <th>HR</th>
        <th>ポケモン</th>
        <th></th>
        <th><%= link_to "2000" %></th>
        <th><%= link_to "2500" %></th>
        <th><%= link_to "2300" %></th>
        <th><%= link_to "3000" %></th>
      </tr>
      <tr>
        <th>ヘルガー</th>
        <th>ハイクラスデッキ</th>
        <th></th>
        <th>ポケモン</th>
        <th>いちげき</th>
        <th><%= link_to "200" %></th>
        <th><%= link_to "250" %></th>
        <th><%= link_to "180" %></th>
        <th><%= link_to "150" %></th>
      </tr>
      <tr>
        <th>ボスの指令</th>
        <th>シャイニースターV</th>
        <th></th>
        <th>トレーナー</th>
        <th></th>
        <th><%= link_to "600" %></th>
        <th><%= link_to "700" %></th>
        <th><%= link_to "800" %></th>
        <th><%= link_to "750" %></th>
      </tr>
    </div>
  </table>
</div>
<%= link_to "価格を登録する",new_price_path %>

<% @prices.each do |price| %>
  <p><%= price.price %></p>
  <ul class="more_list">
    <li><%= link_to '編集', edit_price_path(price.id), method: :get %></li>
    <li><%= link_to '削除', price_path(price.id), method: :delete %></li>
  </ul>
<% end %>